<!DOCTYPE html>
<html>
<head>
	<title>ACM Programming Competition Scoreboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
	<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
</head>
<body>
	<div>
		<ul>
			<li id="nav-logo"> <img id="logo" src="../static/logo.svg" /></li>
			<li id="nav-logout", style="float:right"><a href="{{url_for('root')}}"> Login </a></li>
		</ul>
	</div>
	<div>
		{% for s in scores %}
			<div class="score">
				<img width="400" height="400" src="../static/score.svg" style="padding: 10px" />
				<p>{{s['firstName']|safe}} {{s['lastName']|safe}}</p>
			</div>
		{% endfor %}
	</div>
</body>
</html>